
.spacePic {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: -100;
}

h1.studioName {
    font-family: sansation;
    font-size: 1.5rem;
    position: absolute;
    left:2%;
    top:2%;
    color: white;
}

.tagline {
    font-family: orienta;
    color:white;
    font-size: 2.5rem;
}

.highlightGrey {
    background-color: rgba(0, 60, 129, 0.5);
}

div.identity{
    background-color: #151724;
    width: 100%;
}

h3.sectionTitle{
    font-family: anton;
    font-size: 2.5rem;
}

div.launchPic{
    background-image: url('pics/modifiedlaunch.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

div.websiteLaunch{
    background-color: #005687;
    width: 100%;
}

div.padPic {
    background-image: url('pics/moon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.blackText{
    color:black !important;
}

div.contactBTN {
    background-color: red;
    height: 220px;
    width: 220px;
    border-radius: 100%;
    border: 6px solid black;
}

h4.contactTXT {
    position: relative;
    top: 30px;
    font-size: 64px;
    font-weight: bolder;
    color: black;
    font-family: sansation;
}

.textRed {
    color: red !important
}

.block {
    display: block;
}