



@media screen and (max-width: 1526px) {
    div.res-15 {
        display:none !important;
    }
  }


@media screen and (max-width: 1271px) {
    div.res-12 {
        display:none !important;
    }
  }

@media screen and (max-width: 1188px) {
    div.res-11 {
        display:none !important;
    }
}

@media screen and (max-width: 1058px) {
    .res-10 {
        display:none !important;
    }
}

@media screen and (min-width: 1058px) {
    .Xres-10 {
        display:none !important;
    }
}

@media screen and (max-width: 814px) {
    .res-8 {
        display:none !important;
    }
}


