/*
This file contains the custom style elements
  Words are separated with "-"

    --Table of contents--

    ~High level declarations
        ~Colors
    ~Low level declarations
        ~Navigation
        ~Home page
         ~Main Title
         ~Features
         ~About
         ~Problems and Solutions
        ~Blog
        ~Contact Form
        ~Share widget

*/


@import 'home';

@import 'mobile';

@font-face {
  font-family: sansationLight;
  src: url(fonts/sansation/Sansation_Light.ttf);
}

@font-face {
  font-family: orienta;
  src: url(fonts/Orienta/Orienta-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: chakra;
  src: url(fonts/Chakra/ChakraPetch-Regular.ttf);
}

@font-face {
  font-family: sansation;
  src: url(fonts/sansation/Sansation_Regular.ttf);
}

@font-face {
  font-family: sansation;
  src: url(fonts/sansation/Sansation_Regular.ttf);
}

@font-face {
  font-family: anton;
  src: url(fonts/Anton/Anton-Regular.ttf);
}


h1, h3, h2, h4, h5, h6, p {
 color:white;
}

p {
  font-family: roboto;
  font-size: 1rem;
}

html { 
  font-size: 2vw; 
}

