<!--Head-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

<!--Meta Description--> 
    <meta name="description" content="{{page.description}}">

  <!-- Enable responsiveness on mobile devices-->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--Jekyll feed-->
<link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml">

<!--Title-->
  <title>
    Parsec Creative - Bring It On
  </title>

<link rel="stylesheet" href="Jstyle.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

</body>