/*
This file contains the custom style elements
  Words are separated with "-"

    --Table of contents--

    ~High level declarations
        ~Colors
    ~Low level declarations
        ~Navigation
        ~Home page
         ~Main Title
         ~Features
         ~About
         ~Problems and Solutions
        ~Blog
        ~Contact Form
        ~Share widget

*/
.spacePic {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: -100;
}

h1.studioName {
  font-family: sansation;
  font-size: 1.5rem;
  position: absolute;
  left: 2%;
  top: 2%;
  color: white;
}

.tagline {
  font-family: orienta;
  color: white;
  font-size: 2.5rem;
}

.highlightGrey {
  background-color: rgba(0, 60, 129, 0.5);
}

div.identity {
  background-color: #151724;
  width: 100%;
}

h3.sectionTitle {
  font-family: anton;
  font-size: 2.5rem;
}

div.launchPic {
  background-image: url("pics/modifiedlaunch.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

div.websiteLaunch {
  background-color: #005687;
  width: 100%;
}

div.padPic {
  background-image: url("pics/moon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.blackText {
  color: black !important;
}

div.contactBTN {
  background-color: red;
  height: 220px;
  width: 220px;
  border-radius: 100%;
  border: 6px solid black;
}

h4.contactTXT {
  position: relative;
  top: 30px;
  font-size: 64px;
  font-weight: bolder;
  color: black;
  font-family: sansation;
}

.textRed {
  color: red !important;
}

.block {
  display: block;
}

@media screen and (max-width: 1526px) {
  div.res-15 {
    display: none !important;
  }
}
@media screen and (max-width: 1271px) {
  div.res-12 {
    display: none !important;
  }
}
@media screen and (max-width: 1188px) {
  div.res-11 {
    display: none !important;
  }
}
@media screen and (max-width: 1058px) {
  .res-10 {
    display: none !important;
  }
}
@media screen and (min-width: 1058px) {
  .Xres-10 {
    display: none !important;
  }
}
@media screen and (max-width: 814px) {
  .res-8 {
    display: none !important;
  }
}
@font-face {
  font-family: sansationLight;
  src: url(fonts/sansation/Sansation_Light.ttf);
}
@font-face {
  font-family: orienta;
  src: url(fonts/Orienta/Orienta-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: chakra;
  src: url(fonts/Chakra/ChakraPetch-Regular.ttf);
}
@font-face {
  font-family: sansation;
  src: url(fonts/sansation/Sansation_Regular.ttf);
}
@font-face {
  font-family: sansation;
  src: url(fonts/sansation/Sansation_Regular.ttf);
}
@font-face {
  font-family: anton;
  src: url(fonts/Anton/Anton-Regular.ttf);
}
h1, h3, h2, h4, h5, h6, p {
  color: white;
}

p {
  font-family: roboto;
  font-size: 1rem;
}

html {
  font-size: 2vw;
}

/*# sourceMappingURL=Jstyle.css.map */
