

{% include head.html%}






<img src="pics/Space.jpg" class="res-10 spacePic">
<img src="pics/SpaceResponsive.jpg" class="Xres-10 spacePic">


<h1 class="studioName">Parsec</h1>


<div class="d-flex p-2 bg-transparent res-10"></div>


<div class="d-flex justify-content-center">

    <img src="pics/perasperadastra2.png">

</div>




<div class="identity">
    <div class="d-flex p-4 bg-transparent"></div>

    <h3 class="text-center sectionTitle identityTitle">
        Innovation Wont Save You
    </h3>

    <div class="d-flex p-1 bg-transparent"></div>

    <div class="d-flex justify-content-center col-md-12">

            <p class="col-md-6 text-center">
                9 out of 10 startups fail - Forbes
            </p>

            <h6></h6>

        </div>

<!--    Launch Section     -->

        <div class="launchPic">
            {% include spacing.html %}
            <div class="card  offset-md-6 col-md-6 bg-transparent">
                
                <h3 class="sectionTitle">
                    Outshine your competition
                </h3>
                
                <p>
                    
                </p>
            </div>
            {% include spacing.html %}

        </div>
</div>

<!-- Website -->



<div class="websiteLaunch">

    <div class="d-flex p-4 bg-transparent"></div>
    
    <h3 class="sectionTitle text-center">
        Become The Future
    </h3>

    <div class="d-flex p-2 bg-transparent"></div>

    <div class="d-flex justify-content-center col-md-12">
    <p class="col-md-6 text-center">
        Our goal is to increase VC funding of space
        through helping create successful space startups
    </p>
    </div>
    <div class="d-flex p-4 bg-transparent"></div>
    <div class="padPic">



<!-- Call to Action -->

<div class="d-flex p-2 bg-transparent"></div>

<h3 class="sectionTitle blackText text-white text-center">
    <span class="highlightGrey">
        Start your Engines
    </span>
</h3>
<div class="d-flex p-4 bg-transparent"></div>

<div class="d-flex p-2 bg-transparent"></div>

<div class="d-flex p-3 bg-transparent"></div>

<div class="d-flex justify-content-center col-md-12">


    <div class="contactBTN">

            <h4 class="text-center contactTXT">Let's Talk</h4>
        </div>
        </div>
    <p>

    </p>
    <div class="d-flex p-4 bg-transparent"></div>
    <div class="d-flex p-4 bg-transparent"></div>
    <div class="d-flex p-4 bg-transparent"></div>
 
</div>

</div>

{% include footer.html %}